body {
    background-color: teal;
}

h1 {
    color: white;
    text-decoration: underline;
    text-align: center;
}

h1:hover {
    color: blue;
}

p {
    color: white;
}

.center {
    text-align: center;
}