{% extends "structure.html" %}

{% block main %}

<p><a href="http://127.0.0.1:7000/">Back to Home page</a></p><p></p>
<h2>Welcome to your Dashboard Mr Godlove</h2>
<p>Below is a run down list of all pending activities schedule to be done as soon as possible</p>
<br>
<ul>
    <li>Put our domain name on https://</li>
    <li>Create and configure professional mail addresses for all the interns</li>
    <li>Update all content on our website</li>
</ul>
<a href="/logout">Click here to Log Out</a>

{% endblock main %}