{% extends "structure.html"%}

{% block main %}

<p class="center">Welcome to the dashboard, please enter you credential to see your daily task schedule</p>
<br>
<br>
<form action="/" method="POST" class="center">
    <input placeholder="Userame" name="username" type="text">
    <input placeholder="Password" name="password" type="password">
    <input type="submit"> 
</form>
<br>
<div class="center">
    <p>For the purpose of GADS Community Project use the credential below for testing</p>
    <p>username = godlove</p>
    <p>password = godlove</p>
</div>
<p>{{ message }}</p>
{% endblock main %}